.title{
    height: 30px;
    width: 397px;
    margin-top: 20px;
    border-radius: 5px;
}
.description{
    height: 150px;
    width: 400px;
    margin-top: 20px;
    border-radius: 5px;
}
.author{
    height: 30px;
    width: 397px; 
    margin-top: 20px;
    border-radius: 5px;
}
.blan{
    display: block;
}
.but{
    height: 30px;
    width: 405px; 
    margin-top: 20px;
    border-radius: 5px;
}
.flex{
    display: flex;
    justify-content: center;
}